[submodule "submodule/tinytoml.git"]
	path = submodule/tinytoml.git
	url = https://github.com/mayah/tinytoml.git
	branch = master
[submodule "submodule/googletest.git"]
	path = submodule/googletest.git
	url = https://github.com/abseil/googletest.git
	branch = master
[submodule "submodule/nlohmannjson.git"]
	path = submodule/nlohmannjson.git
	url = https://github.com/nlohmann/json.git
	branch = master


