[submodule "submodule/tinytoml.git"]
	path = submodule/tinytoml.git
	url = https://github.com/mayah/tinytoml.git
	branch = master
[submodule "submodule/googletest.git"]
	path = submodule/googletest.git
	url = https://github.com/abseil/googletest.git
	branch = master
[submodule "submodule/json.git"]
	path = submodule/json.git
	url = https://github.com/dougpuob/json.git
	branch = master
[submodule "submodule/spdlog.git"]
	path = submodule/spdlog.git
	url = https://github.com/gabime/spdlog.git
	branch = master
