# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Microsoft Project Solution Files
*.vc
*.vcxproj
*.filters
*.sln
*.user

# CMake
*.cmake
CMakeCache.txt
CMakeFiles

# Files
*.txt
*.log

# Directory
Build
Debug
.vscode